#jumboPic {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/unnamed.jpg");
  text-align: center;
  background-size: 100%;
  height: 400px;
}

.artistTitle {
  color: white;
  font-weight: bolder;
  font-size: 500%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#leadText {
  color: white;
}

.container1 {
  text-align: center;
}

.borderText {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 3%;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: gray;
  border-width: 5px;
  width: 75%;
  padding: 1%;
}

img {
  height: 400px;
  width: 500px;
}
