#jumboPic {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("...");
  text-align: center;
  background-size: 100%;
}

/* Above is the way to darken a background picture */

/* Media queries go at bottom */
@media screen and (min-width: 768px) {
  body {
    padding-top: 100px;
  }
}
